# Assignment 3

### Write a function to count the number 4 in a given list.

In [22]:
giv_list=[1,2,3,4,5,6,4,6,4,6,8]
sec_list=[4,5,4,6,4,7,4,8]
def count_four(list) :
    print(list.count(4))

In [4]:
def Count_four(list):
    fours=0
    for i in range(len(list)):
        if (list[i] == 4):
            fours+=1
    print (fours)

In [6]:
Count_four(sec_list)

4

In [5]:
Count_four(giv_list)

3

In [28]:
count_four(giv_list)  
count_four(sec_list)

3
4

### write a  function to check whether a number is divisible by another number.

In [7]:
def divisbility (a,b):
    if a % b == 0:
        print("Numbers are divisble")
    else :
        print("Numbers are Non Divisible")

In [10]:
#test divisibilty fn 
divisbility(11,4)

Number's Non Divisible

In [11]:
divisbility(3,9)

Number's Non Divisible

In [12]:
divisbility(9,3)

Numbers are divisble

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [5]:
def sorti(*numbar):
    c = list(numbar)
    c.sort()
    print ("Minimum is {} and Max is {}".format(c[0],c[-1]))
    return c[0],c[-1]

In [6]:
sorti(110,20,30,10,50)

Minimum is 10 and Max is 110

(10, 110)

In [7]:
sorti(1,11,3,25,4)

Minimum is 1 and Max is 25

(1, 25)

In [2]:
def sortI(*numbaR):
    C=list(numbaR)
    return min(C),max(C)

In [3]:
sortI(1,11,3,25,4)

(1, 25)

In [4]:
sortI(110,20,30,10,50)

(10, 110)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [24]:
def com_mem (m,n):
    for i in range(len(m)):  
        if  ((m[i] in n)):
            print ('True')
            break
        elif i == len(m)-1:
            print('No Match found')

In [25]:
com_mem(giv_list,sec_list)

True

In [26]:
com_mem ([1,2,3],[4,5,6,8])

No Match found

In [27]:
com_mem ([1,2,4],[4,5,6,7])

True

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [73]:
def range_tst(a):
    if a in range(3,12):
        print("Within Range")
    else :
        print("Outside Range")
        
def Range_tst(a):
    if a >= 3 and a <= 11 :
        print("Within Range")
    else :
        print("Outside Range")

In [74]:
Range_tst(2)

Outside Range

In [75]:
Range_tst(8)

Within Range

In [18]:
range_tst(5)

Within Range

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [59]:
def mltply_tab(x):
    table=list()
    for i in range(1,11):
        element="{}*{}={}".format(x,i,x*i)
        table.append(element)
    return(table)

In [60]:
mltply_tab(3)

['3*1=3',
 '3*2=6',
 '3*3=9',
 '3*4=12',
 '3*5=15',
 '3*6=18',
 '3*7=21',
 '3*8=24',
 '3*9=27',
 '3*10=30']

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [10]:
def fn_lofe(j,k):
    if (j % 2 == 0 and k % 2 == 0):
        sol = min(j,k)
    else :
        sol = max(j,k)
    return sol

In [11]:
fn_lofe(2,3)

3

In [12]:
fn_lofe(4,6)

4

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [8]:
def ani_cra1(r):
    R = r.split()
    print(bool(R[0][0] == R[1][0]))

In [9]:
ani_cra1("Certain codes")

False

In [12]:
ani_cra1("Simple Syntax")

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [8]:
def mak_twe(E,F):
    print(bool(E + F == 20 or E == 20 or F == 20))

In [9]:
mak_twe(1,19)

True

In [10]:
mak_twe(2,19)

False

In [11]:
mak_twe(20,30)

True

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [5]:
def alm_the(n):
    print(bool((n >= 90 and n <= 110) or (n >= 190 and n <= 210)))

In [6]:
alm_the(101)

True

In [7]:
alm_the(211)

False

In [8]:
alm_the(89)

False

In [9]:
alm_the(190)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [2]:

def blackjack(X,Y,Z):  
    ACE = 11
    POT = [X,Y,Z]
    pot = 0
    if (X+Y+Z >= 21) and (ACE in POT):
        pot = X+Y+Z - (POT.count(ACE) * 10)
    elif (X+Y+Z <= 21):
        pot = X+Y+Z
    else :
        pot = "BUST"
    print(pot)

In [30]:
blackjack(11,2,7)

20

In [3]:
blackjack(10,9,11)

20

In [4]:
blackjack(10,9,7)

BUST

In [6]:
blackjack(11,5,11)
#changed the code to include count of Aces
#orignally if (X+Y+Z >= 21) and (ACE in POT):
#pot = X+Y+Z-10

7